<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/Stylesheet/Stylesheet.css">
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <div class="w-full min-h-screen bg-zinc-800 p-10 text-white relative min-h-screen">
            <a href="/">back to home</a>
            <h1 class="text-3xl tracking-tighter">All Users</h1>
            <div class="users flex gap-3 flex-wrap">
                  <% if(user.length>0){ %>

                        <% user.forEach(function(user){ %>
                             <div class="user w-50 p-4 bg-zinc-700 rounded-lg">
                                   <div class="w-full h-52 rounded-lg bg-zinc-800 ">
                                         <img class="w-full h-ful object-cover object-center" src="<%= user.image%>" alt="">
                                   </div>
                                   <h3 class="text-2xl tracking-tighter"><%= user.name%></h3>
                                   <h5><%= user.email%></h5>
                                   <div class="flex gap-3 mt-4">
                                         <a class="text-blue-400" href="/edit/<%= user._id%>">edit</a>
                                         <a class="text-red-400" href="/delete/<%= user._id%>">delete</a>
                                   </div>
                             </div>
                       <% })%>
                  <%} else { %>
                        <h3 class="text-red-400">No users yet</h3>
                 <% } %>
           
      </div>
</body>
</html>